# Python
.venv/
__pycache__/
*.pyc

# Env
.env

# AI Models
models/
voiceagent/models/
*.bin
*.pt
*.onnx
*.safetensors

# Logs
*.log

# Mac
.DS_Store

# Cache
.cache/
.pytest_cache/

# Audio
*.wav
*.mp3
*.pcm

# VSCode
.vscode/